{% extends 'base.html' %}
{% load static %}

{% block title %} Log In {% endblock title %}

{% block content %}
    <div class="container mt-2">
        <h2 class="text-primary text-center"> Log In </h2>
        <div class="card mx-auto col-md-6" style="border-radius:15px;box-shadow: 5px 10px 18px #888888;">
            <form action="{% url 'login' %}" method="POST" class="form-group mt-2">
                {% csrf_token %}
                <span class="text-danger lead">  {{error}} </span> <br>
                Username:
                <input type="text" name="username" id="" class="form-control" placeholder="Username"> <br>
                Password:
                <input type="password" name="password1" id="" placeholder="Password" class="form-control"> <br>
                <p class="lead"> Not a member? <a href="{% url 'signup' %}"> Sign Up</a></p>
                <input type="submit" value="Log In" class="btn btn-primary btn-block mb-0">
            </form>
        </div>
    </div>


{% endblock content %}